body
{
    
   /* display: flex;
    justify-content: center;*/
    font-family: 'poppins', sans-serif;
   
    
}
.services
{
    padding-top: 90px;
    text-align: center;
}
.sentence{
    display: flex;
    justify-content: center;
}
.subsentence{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1
{
    font-family: sans-serif;
    letter-spacing: 4px;
    color:  rgb(206, 241, 3);
    font-weight: bolder;
   
}
h1:after
{
    content: '';
    background: white;
    display: block;
    width: 250px;
    height: 3px;
    margin: 10px auto;
}
.icon
{
    font-size: 60px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 90px;
    border: 2px solid rgb(13, 206, 231);
    border-radius: 50%;
    float: left;
    text-align: center;
    
    
   
}
.col-md-3:hover
{
    box-shadow: 5px 7px 9px -3px rgba(255,255,255,0.5);
    cursor: pointer;
}
.h3
{
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}
.container.h3
{
    text-align: center;
    color: turquoise;
}
.col-md-3
{
   /* display: inline-block;*/
   padding: 14px;

}
.i
{
    color: burlywood;

}
.container{
    background-image: linear-gradient(rgba(0,0,0,0,6),rgba(0,0,0,0,6));
    background-image: url(service.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(228, 227, 196) !important;
    margin: 0;
    padding: 0;
}
